:root {
  --background-color: #0891b2;
  --profile-description-background: #fff;
  --box-shadow-light: 0 3px 7px #c0c0c0;
  --box-shadow-dark: 0 3px 7px #4c4c4c;
  --font-header: "Playfair Display", serif;
  --font-paragraph: "Nunito", sans-serif;
  --font-size-large: 2rem;
  --font-size-medium: 1.3rem;
  --font-size-small: 1.1rem;
  --text-shadow: 0 2px 2px #8c8c8c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-paragraph);
  font-size: var(--font-size-large);
  font-optical-sizing: auto;
  font-style: normal;

  margin: 0 auto;
  max-width: calc(1980px * 0.7);

  display: grid;
  grid-template-rows: 650px 1050px 600px;
}

header {
  background-color: var(--background-color);
  box-shadow: var(--box-shadow-light);

  /* transform: skewY(-13deg);
  transform-origin: 0 0; */

  display: grid;
  place-content: center;
  justify-items: center;
  grid-template-columns: 70%;
}

.profile-container {
  /* place-self: center; */

  background-color: var(--profile-description-background);
  box-shadow: var(--box-shadow-dark);
  /* z-index: 1; */

  /* transform: skewY(13deg);
  transform-origin: 0 0; */

  display: grid;
  /* grid-template-rows: repeat(4, 1fr); */
  /* grid-template-columns: repeat(2, 500px); */
  grid-auto-flow: row;
}

.profile-container img {
  max-width: 500px;
}

/*.profile-container img,
h1 {
  grid-column: 1 / 2;
}

.profile-container img {
  grid-row: 2 / 4;
  max-width: 100%;
}

h1 {
  grid-row: 3 / 4;
  place-self: center;

  font-family: var(--font-header);
  font-weight: 500;
  color: white;
  text-shadow: var(--text-shadow);
}

.profile-description {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  place-self: center;

  padding: 10px 30px;
  box-shadow: var(--box-shadow-dark);

  transform: translateY(30%) skewY(13deg);
  transform-origin: 0 0;
}
 .profile-description > * {
  margin: 30px 10px;
}

h2 {
  font-family: var(--font-header);
  font-weight: 600;
}

.profile-description p {
  font-size: var(--font-size-medium);
}

.profile-description .link-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}
*/
.profile-description .link-container * {
  max-width: 40px;
}

.link-container a {
  display: contents;
}

main {
  margin: 75px 50px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.project-container {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}

.project-card {
  box-shadow: var(--box-shadow-dark);
  padding: 20px;

  display: grid;
  grid-template-areas:
    "project-img project-img"
    "project-name project-links"
    "project-description project-description";
  grid-template-rows: 220px 40px 60px;
  grid-template-columns: 5fr 1fr;
}

.project-card > img {
  grid-area: project-img;
  place-self: center;

  max-width: 100%;
  max-height: 175px;
}

.project-card h3 {
  grid-area: project-name;

  font-family: var(--font-header);
  font-size: var(--font-size-medium);
}

.project-card .link-container {
  grid-area: project-links;

  display: flex;
  align-items: start;
  justify-content: flex-end;
  column-gap: 5px;
}

.project-card .link-container * {
  max-width: 20px;
}

.project-description {
  grid-area: project-description;
  align-self: start;

  font-size: var(--font-size-small);
}

footer {
  padding: 50px;
  background-color: var(--background-color);
  color: #fff;

  display: flex;
  justify-content: space-around;
}

footer .contact-description {
  flex: 0 1 35%;

  display: grid;
  grid-template-rows: repeat(2, 90px) repeat(3, 60px);
  row-gap: 5px;
}

.contact-description p,
.contact-description span {
  font-size: var(--font-size-medium);
}

.phone-container img,
.email-container img,
footer .link-container * {
  max-width: 40px;
}

.phone-container,
.email-container {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.phone-container {
  align-self: end;
}

.email-container {
  align-self: start;
}

footer .link-container {
  display: flex;
  column-gap: 30px;
}

@media (max-width: 1200px) {
  .profile-container img {
    /* width: 400px; */
  }
}
