:root {
  --header-background: #0891b2;
  --profile-description-background: #fff;
  --box-shadow-light: 0 3px 7px #c0c0c0;
  --box-shadow-dark: 0 3px 7px #4c4c4c;
  --font-header: "Playfair Display", serif;
  --font-paragraph: "Nunito", sans-serif;
  --font-size-large: 1.5rem;
  --font-size-medium: 1.3rem;
  --font-size-small: 1rem;
  --text-shadow: 0 2px 2px #8c8c8c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-paragraph);
  font-size: var(--font-size-large);
  font-optical-sizing: auto;
  font-style: normal;

  margin: 0 auto;
  max-width: 70dvw;

  display: grid;
  grid-template-rows: 650px auto 450px;
}

header {
  background-color: var(--header-background);
  box-shadow: var(--box-shadow-light);

  transform: skewY(-13deg);
  transform-origin: 0 0;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 500px);
  justify-content: center;
}

.profile-container {
  place-self: center;
  box-shadow: var(--box-shadow-dark);
  z-index: 1;

  transform: skewY(13deg);
  transform-origin: 0 0;

  display: grid;
  grid-template-rows: repeat(5, 100px);
}

.profile-container img {
  grid-row: 1 / 5;
}

h1 {
  place-self: center;

  font-family: var(--font-header);
  font-weight: 500;
  color: white;
  text-shadow: var(--text-shadow);
}

.profile-description {
  place-self: center;

  padding: 10px 30px;
  background-color: var(--profile-description-background);
  box-shadow: var(--box-shadow-dark);

  transform: translateY(100px) skewY(13deg);
  transform-origin: 0 0;
}

.profile-description > * {
  margin: 30px 10px;
}

h2 {
  font-family: var(--font-header);
  font-weight: 600;
}

.profile-description p {
  font-size: var(--font-size-medium);
}

.profile-description .link-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.link-container * {
  max-width: 30px;
}

.link-container a {
  display: contents;
}

main {
  margin: 75px 50px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.project-container {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}

.project-card {
  box-shadow: var(--box-shadow-dark);
  padding: 20px;

  display: grid;
  grid-template-areas:
    "project-img project-img"
    "project-name project-links"
    "project-description project-description";
  grid-template-rows: 200px 40px 60px;
}

.project-card > img {
  grid-area: project-img;
  justify-self: center;

  max-width: 100%;
  object-fit: contain;
}

h3 {
  grid-area: project-name;

  font-family: var(--font-header);
  font-size: var(--font-size-medium);
}

.project-card .link-container {
  grid-area: project-links;

  display: flex;
  align-items: start;
  justify-content: flex-end;
  column-gap: 10px;
}

.project-description {
  grid-area: project-description;
  align-self: start;

  font-size: var(--font-size-small);
}

footer {
  background-color: #6495ed;
}
